<div class="modal fade" tabindex="-1" role="dialog" id="delete-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">Вы уверены, что хотите удалить шаблон:</h4>
      </div>
      <div class="modal-body">
        <span class="glyphicon glyphicon-alert" aria-hidden="true" style="display:inline-block; padding: 0 20px 0; color: red; font-size: 40px;"></span>
        <p style="display: inline-block; line-height: 40px; vertical-align: top;" class="icon-red"><span style="font-weight: bolder;" id="template_delete_info"></span> ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn simple-button" style="width: 150px" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn simple-button" style="width: 150px" id="modal-delete-btn" data-dismiss="modal">Удалить</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->