<div class="row" style="margin-top: 50px">
  <div class="col-md-12 col-sm-12 not-available text-center"  >
    <img src="../public/images/Not_available_icon.jpg" alt="" width="320" height="300">
  </div>
  <p class="text-center" style="text-transform: uppercase;">Нет шаблонов для отображения</p>
</div>
